/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');
@import url('https://fonts.google.com/share?selection.family=Red+Hat+Text:ital,wght@0,300..700;1,300..700');
@import url('https://fonts.google.com/share?selection.family=Hedvig+Letters+Sans|Red+Hat+Text:ital,wght@0,300..700;1,300..700'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--fontcolor);
}

.deskripsi {
    font-family: 'Quicksand', sans-serif;
    color: var(--fontcolor);
}