  body {
    background-color: rgb(2, 131, 145);
  }

  .card {
    border: none;
    box-shadow: none;
    background-color: rgb(2, 131, 145);
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgb(2, 131, 145);
    width: 600px;
  }

  .input-container {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: #ffffff;
    color: white;
  }
  
  .login-card-title {
    font-size: 2rem;
    font-weight: bold;
    color: #FEAE6F;
    margin-bottom: 1.5rem;
  }
  
  .form-control {
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 40px;
    background-color: rgb(2, 131, 145);
    color: #ffffff;
  }

  .form-control:focus {
    background-color: rgba(2, 131, 145, 0.8);
    color: #ffffff;
  }

  .form-control::placeholder {
    color: #ffffff;
  }

  .btn {
    width: 535px;
  }
  
  .btn-primary {
    background-color: rgb(254, 174, 111);
    border: none;
    padding: 0.75rem;
    font-size: 16pt;
    font-weight: bold;
    border-radius: 0.35rem;
    transition: background-color 0.3s ease;
    margin-top: 50px; 
  }
  
  .btn-primary:hover {
    background-color: #ffffff;
    width: 535px;
    color: #FEAE6F;
  }

  .background-svg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    fill: #F6DCAC;
  }

  .background-svg2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    fill: #F6DCAC;
  }

  .background-svg3 {
    fill: #FEAE6F;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  