* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #44d569;
    z-index: -1;
}

.card {
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

.card-body-login {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0);
    width: 37cqmax;
    margin-left: -2cqmax;
}

.input-container {
    position: relative;
    margin-bottom: 1rem;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: black;
    color: black;
}

.login-card-title {
    font-size: 2rem;
    font-weight: bold;
    color: #FEAE6F;
    margin-bottom: 1.5rem;
}

.form-control {
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.form-control::placeholder {
    color: black;
}

.login-button:hover {
    background-color: black;
    width: 535px;
    color: #FEAE6F;
}

.login-button {
    width: 535px;
    background-color: rgb(254, 174, 111);
    border: none;
    padding: 0.75rem;
    font-size: 16pt;
    font-weight: bold;
    border-radius: 0.35rem;
    transition: background-color 0.3s ease;
    margin-top: 50px; 
    color: black;
}

/* Main container to hold everything */
.main-container {
  display: flex;
  height: 100vh;
}

/* Wrapper for the login container to position it on the right */
.login-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  background: #ffff; /* White background for the right side */
  padding: 2rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #5e72e4 inset !important;
    -webkit-text-fill-color: #ffffff !important;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles ul {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: -1;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    z-index: -1;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    z-index: -1;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    z-index: -1;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    z-index: -1;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    z-index: -1;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    z-index: -1;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
    z-index: -1;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
    z-index: -1;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    z-index: -1;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    z-index: -1;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 20%;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
