.d-flex {
    display: flex;
  }
  
  .custom-sidebar {
    width: 200px; /* Lebar sidebar */
    height: 100vh; /* Tinggi penuh */
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(2, 131, 145); /* Warna sidebar */
    padding-top: 20px;
    z-index: 1000;
  }
  
  .content-area {
    margin-left: 215px; /* Sesuaikan dengan lebar sidebar */
    padding: 0px;
    width: calc(100% - 250px); /* Kurangi lebar sidebar */
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: bold;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    padding: 10px; /* Atur padding untuk ruang hover */
    transition: background-color 0.5s ease;
    border-radius: 5px;
  }
  
  .nav-link.active {
    color: rgb(255, 255, 255);
  }
  
  .nav-link:hover {
    background-color: #fff;
    border-radius: 5px;
  }

  .nav-item {
    color: #fff;
  }

  .nav-item:hover {
    color: #FEAE6F;
  }

  .icon:hover {
    color:#FEAE6F; 
  }
  
  .icon {
    width: 24px; /* Atur lebar ikon */
    height: 24px; /* Atur tinggi ikon */
    margin-right: 8px; /* Sesuaikan jarak antara ikon dan teks */
    fill: currentColor;
  }