.d-flex {
    display: flex;
  }
  
  .custom-sidebar {
    width: 210px; /* Lebar sidebar */
    height: 95.5vh; /* Tinggi penuh */
    position: fixed;  
    background: #fff; /* Warna sidebar */
    padding-top: 20px;
    margin-left: 2.3vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    flex-shrink: 0;
    border-radius: 20px;
    z-index: 1000;
  } 
  
  .content-area {
    margin-left: 215px; /* Sesuaikan dengan lebar sidebar */
    padding: 0px;
    width: calc(100% - 250px); /* Kurangi lebar sidebar */
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: lighter;
    margin-left: 50px;
    color: #3a416e;
    padding: 10px; /* Atur padding untuk ruang hover */
    transition: background-color 0.5s ease;
    border-radius: 5px;
    position: relative; /* Tambahkan position relative pada parent */
  }
  
  .nav-link.active {
    color: #3a416e;
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)
  }

  .nav-item {
    color: #3a416e;
    font-weight: 10;
  }

  .nav-item:hover {
    color: #5e72e4;
  }

  .icon:hover {
    color:#5e72e4; 
  }
  
  .icon {
    width: 20px; /* Atur lebar ikon */
    height: 20px; /* Atur tinggi ikon */
    margin-right: 8px; /* Sesuaikan jarak antara ikon dan teks */
    fill: currentColor;
  }

  .dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    position: absolute;
    left: 150px;
    top: 100%;
    display: none;
    width: 80px;
    z-index: 1000;
  }
  
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-item {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    font-size: small; /* Ukuran huruf */
    font-weight: lighter; 
  }
  
  .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color:#5e72e4
  }