  .content-area-with-sidebar {
    margin-left: 215px; /* Adjust to match the sidebar width */
    padding: 0px;
    width: calc(100% - 215px); /* Adjust to match the sidebar width */
  }
  
  .custom-sidebar {
    width: 210px; /* Lebar sidebar */
    height: 95.5vh; /* Tinggi penuh */
    position: fixed;  
    background: #fff; /* Warna sidebar */
    padding-top: 20px;
    margin-left: 2.3vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    flex-shrink: 0;
    border-radius: 20px;
    z-index: 1000;
  } 
  
  .content-area {
    margin-left: 215px; /* Sesuaikan dengan lebar sidebar */
    padding: 0px;
    width: calc(100% - 250px); /* Kurangi lebar sidebar */
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: lighter;
    margin-left: 50px;
    color: #3a416e;
    padding: 10px; /* Atur padding untuk ruang hover */
    transition: background-color 0.5s ease;
    border-radius: 5px;
    position: relative; /* Tambahkan position relative pada parent */
  }
  
  .nav-link.active {
    color: #3a416e;
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)
  }

  .nav-item {
    color: #3a416e;
    font-weight: 10;
  }

  .nav-item:hover {
    color: #44d569;
  }

  .icon:hover {
    color:#44d569; 
  }
  
  .icon {
    width: 20px; /* Atur lebar ikon */
    height: 20px; /* Atur tinggi ikon */
    margin-right: 8px; /* Sesuaikan jarak antara ikon dan teks */
    fill: currentColor;
  }

  .dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    position: absolute;
    left: 150px;
    top: 100%;
    display: block;
    width: 80px;
    z-index: 1000;
  }
  
  .nav-item:hover .dropdown-menu {
    display: block;
    
  }
  
  .dropdown-item {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    font-size: small;
    font-weight: lighter; 
    color: #3a416e;;
  }
  
  .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color:#44d569;
    display: block;
  }


  /* Responsive */
  @media (max-width: 860px) {
    .icon {
      width: 20px;
      height: 20px;
    }

    .custom-sidebar {
      height: 100%;
      max-height: 95.5vh; 
      width: 70px;
      left: 0;
    }
  
    header, #btn, #cancel {
      display: none;
    }
  
    span {
      position: absolute;
      margin-left: 23px;
      opacity: 0;
      visibility: hidden;
    }
  
    .sidebar a {
      height: 60px;
    }
  
    .sidebar a i {
      margin-left: -10px;
    }
  
    a:hover {
      width: 200px;
      background: inherit;
    }
  
    .sidebar a:hover span {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .logo { 
    max-width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }