
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: Fixed background scrolling */
  background-position: center;
}

.content {
  margin: -33px 25px;
  position: relative;
  z-index: 1; /* Pastikan konten tetap di atas lapisan transparan */
  
}


.card {
  background-color: rgb(255, 255, 255);
  width: 101%;
  padding: 15px 15px;
  margin-top: 15px;
  margin-left: -1px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card-lihat-inventaris {
  background-color: rgb(255, 255, 255);
  width: 101.4%;
  padding: 40px 40px;
  margin-top: 15px;
  margin-left: -5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  overflow: auto;
  height: 591px;
}

.card2 {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card-nama {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card3 {
  margin-top: -33px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #44d569; 
  font-weight: 900;
  margin-bottom: 10px;
}

p {
  color: rgb(254, 174, 111);
  font-weight: lighter;
}


  /* .line {
    height: 2.5px;
    border-radius: 50px;
    background: #ffffff;
    margin-bottom: 10px;
    background-color: rgb(254, 174, 111); 
  } */


.alert {
  margin-bottom: 0; /* No margin at the bottom */
}

.btn-primary {
  background-color: rgb(1, 32, 78); /* Primary button background color */
  border-color: rgb(1, 32, 78); /* Primary button border color */
  max-width: 200px;
  margin-right: -10px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-success {
  background-color: #28a745; /* Success button background color */
  border-color: #28a745; /* Success button border color */
  padding-left: 30px;
  padding-right: 30px;
  margin-left: -13px;
}

.btn-danger {
  background-color: #dc3545; /* Danger button background color */
  border-color: #dc3545; /* Danger button border color */
}

.btn-secondary {
  background-color: #6c757d; /* Secondary button background color */
  border-color: #6c757d; /* Secondary button border color */
}

.btn {
  color: #fff; /* Button text color */
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Smooth transition for background and border colors */
}

.card-lihat {
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border-radius: 7px;
  background-color: #28a745;
}

