.table {
    border-collapse: collapse; /* Ensure no gaps between cells */
    width: 100%;
  }
  
  .table th, .table td {
    border: 1px solid #dee2e6; /* Default border color */
    padding: 5px 5px; /* Padding inside cells */
    text-align: center; /* Align text to the left */
  }
  
  .table th {
    background-color: #6C7698; /* Header background color */
    color: #fff; /* Header text color */
    font-weight: normal;
  }
  
  .table td {
    background-color: #E6EFFF; /* Cell background color */
    color: #3a416e; /* Cell text color */
  }
  
  .table-bordered {
    border: 1px solid #0080ff; /* Table border color */
  }
  
  .table thead th {
    border-bottom-width: 2px; /* Thicker border for header cells */
  }
  
  .table tbody tr {
    transition: background-color 0.15s ease-in-out; /* Smooth transition for background color */
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef; /* Background color on hover */
  }

  .dropdown-toggle {
    position: relative;
  }

  /* Style untuk pagination */
.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item {
  margin: 0 0.1rem;
}

.page-link {
  display: block;
  padding: 0.5rem 0.75rem;
  margin: 0;
  line-height: 1.25;
  color: #44d569;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.page-item.disabled .page-link {
  color: #44d569;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #44d569;
  border-color: #44d569;
}

.page-link:hover {
  color: #ffff;
  background-color: #44d569;
  border-color: #ddd;
}