.table {
    border-collapse: collapse; /* Ensure no gaps between cells */
    width: 100%;
  }
  
  .table th, .table td {
    border: 1px solid var(--whitede); /* Default border color */
    padding: 5px 5px; /* Padding inside cells */
    text-align: center; /* Align text to the left */
  }
  
  .table th {
    background-color: var(--jadwalheader); /* Header background color */
    color: var(--white); /* Header text color */
    font-weight: normal;
  }
  
  .table td {
    background-color: var(--whitee6); /* Cell background color */
    color: var(--event); /* Cell text color */
  }
  
  .table-bordered {
    border: 1px solid #0080ff; /* Table border color */
  }
  
  .table thead th {
    border-bottom-width: 2px; /* Thicker border for header cells */
  }
  
  .table tbody tr {
    transition: background-color 0.15s ease-in-out; /* Smooth transition for background color */
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef; /* Background color on hover */
  }

  .dropdown-toggle {
    position: relative;
  }

  /* Style untuk pagination */
.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin: 5px;
}

.page-item {
  margin: 0 0.1rem;
}

.page-link {
  display: block;
  padding: 0.5rem 0.75rem;
  margin: 0;
  line-height: 1.25;
  color: var(--green3);
  text-decoration: none;
  background-color: var(--white);
  border: 1px solid var(--whitede);
  border-radius: 0.25rem;
}

.page-item.disabled .page-link {
  color: var(--green3);
  pointer-events: none;
  background-color: var(--white);
  border-color: var(--whitede);
}

.page-item.active .page-link {
  z-index: 1;
  color: var(--white);
  background-color: var(--green3);
  border-color: var(--green3);
}

.btn-next {
  color: var(--white);
  background-color: var(--green3);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  border: none;
}

.btn-next:hover {
  color: var(--white);
  background-color: var(--green5);
}

.btn-prev {
  color: var(--white);
  background-color: var(--green3);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  border: none;
}

.btn-prev:hover {
  color: var(--white);
  background-color: var(--green5);
}